@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.footer-container{
    max-width: 11470px;

    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 20px;
}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
color: #ffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;

}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 10;
    top: 25px;
    bottom: 10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col h4{
    text-align: left;
    margin-left: 33px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-link{
font-size: 16px;
color: #ffff;
text-decoration: none;
font-weight: 300;
color: #dddddd;
display: block;
transition: all 0.3s ease;
text-align: left;

}
.footer-link:hover{
color: #ffffff;
padding-left: 10px;
}
.social-link{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right:10px;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    
    
}

.social-link:hover{
color: #24262b;
background-color: #ffffff;

}


/* responsive */
@media (max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px){
    .footer-col{
        width: 100%;
        
    }
}